/* tablet */
@media (max-width: 900px) {

    /* =========== header =========== */


    /* =========== main content 1 =========== */



    /* =========== main content 2 =========== */
    .content2 article {
        padding: 40px 30px;
    }



    /* =========== main content 3 =========== */



    /* =========== footer =========== */

}

/* mobile */
@media (max-width: 720px) {

    /* =========== header =========== */


    /* =========== main content 1 =========== */



    /* =========== main content 2 =========== */
    .card-wrapper {
        width: 100%;
        min-width: 380px;
    }
    .card-wrapper .card-thumb img {
        width: 100%;
        height: auto;
    }


    /* =========== main content 3 =========== */



    /* =========== footer =========== */

}