/* tablet */
@media (max-width: 900px) {

    /* =========== header =========== */


    /* =========== main content 1 =========== */



    /* =========== main content 2 =========== */



    /* =========== main content 3 =========== */

    .contact{
        width:50%
    }
    h1{
        font-size: 32px;
    }
    /* =========== footer =========== */

}

/* mobile */
@media (max-width: 720px) {

    /* =========== header =========== */


    /* =========== main content 1 =========== */



    /* =========== main content 2 =========== */



    /* =========== main content 3 =========== */
    .contact{
        width:100%
    }
    h1{
        font-size:24px;
    }

    /* =========== footer =========== */

}