/* tablet */
@media (max-width: 900px) {

    /* =========== header =========== */
    header .container{
        margin: 10px 30px;
    }

    .header-left a {
        display: none;
    }

    /* =========== main content 1 =========== */



    /* =========== main content 2 =========== */
    .content2 article {
        padding: 40px 30px;
    }



    /* =========== main content 3 =========== */

    .contact{
        width:50%
    }
    h2{
        font-size: 32px;
    }
    .form{
        width:100%
    }
    /* =========== footer =========== */
    footer .destinations li{
        font-size: 16px;
    }

    .footer-title{
        font-size: 13px;
    }
    
    .footer-text-info{
        font-size: 20px;
    }
    

}

/* mobile */
@media (max-width: 720px) {

    /* =========== header =========== */
    header .container{
        margin: 10px 20px;
    }

    .header-left a {
        display: none;
    }

    .header-right a {
        display: none;
    }

    /* =========== main content 1 =========== */



    /* =========== main content 2 =========== */
    .card-wrapper {
        width: 100%;
        min-width: 320px;
    }
    .card-wrapper .card-thumb img {
        width: 100%;
        height: auto;
    }


    /* =========== main content 3 =========== */
    .content3 .contact-us {
        padding: 2px 5px;
    }
    .content3 h2{
        padding-bottom: 2px;
        font-size:24px;
    }
   .medsos{
        display: inline;
        margin: auto;
    }
      
    .medsos p{
        padding-bottom: 2px;
        text-align: center;
        font-size: 15px;
    }

    .form {
        max-width: 90%;
        margin: auto;
    }

    .btn {
        padding: 5px 9px;
        
      }
      .message {
        padding: 5px 15px;
       
      }
      

    /* =========== footer =========== */

    footer{
        display: block;
        padding: 12px 30px;
    }

    .footer-height{
        height: 80px;
    }
    
    .footer-flex{
        flex-direction: row;
    }
    
    .footer-flex{
        flex-direction: row;
        align-items: center;
    }

    .footer-text-info{
        font-size: 16px;
    }

    /* non reusable */

    footer .destinations{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    footer .destinations ul{
        display: flex;
    }

    footer .destinations li{
        font-size: 14px;
    }

    footer .contact-person{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    footer .contact-person .email{
        margin-top: 5px;
    }

    footer .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    footer .social-media i{
        margin: 20px;
    }

    
  
}
