/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* =========== header =========== */


/* =========== main content 1 =========== */

.slideshow-wrapper {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  font-family: sans-serif;
  color: rgb(233, 233, 233);
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  top: 300px;
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* setting display picture to none */
.slide {
  display: none;
}

/* setting pointer prev and next */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
}

/* make next button position to right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* hover for prev and next */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* bullet setting */
.bullet {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.bullet:hover {
  background-color: #bcbcbc;
}

/* animasi fade */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* testing */

.slideshow-wrapper {
  width: 100vw;
  height: 100vh;
}

.img-wrapp {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide, .img-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide img {
  min-width: 100vw;
  min-height: 100vh;
  filter:  brightness(70%) saturate(0.5) blur(1px);
}

.dotSlide {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 10px auto;
}

/* end of main content 1 */

/* =========== main content 2 =========== */



/* =========== main content 3 =========== */



/* =========== footer =========== */